extends layout

block content
        if errors
                ul.list-group
                each error in errors
                        li.list-group-item= error.msg
        each user in users
                h1= title
                form(method='POST', action='/users/update/' + user.id)
                        input.form-control(name='_csrf', type='hidden', value=csrfToken)
                        #form-group
                        label ID
                        input.form-control(name='id', type='number', value=user.id, readonly)
                        #form-group
                        label Name
                        input.form-control(name='name', type='text', value=user.name)
                        #form-group
                        label Email
                        input.form-control(name='email', type='text', value=user.email)
                        #form-group 
                        label Username
                        input.form-control(name='username', type='text', value=user.username)
                        br
                        input.btn.btn-primary(type='submit', value='Update')
